# <center> Pima Indians Diabetes Analysis </center>

<img src="http://www.drugdiscoverytrends.com/wp-content/uploads/2019/10/ddd1701_diabetes.jpg">

<h2>Context:</h2> This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years old of Pima Indian heritage.

<h2>Content</h2>

The datasets consists of several medical predictor variables and one target variable, Outcome. Predictor variables includes the number of pregnancies the patient has had, their BMI, insulin level, age, and so on.

<h2> Acknowledgements</h2>

I thank the researchers who gave their precious time to make this dataset


<h2>Inspiration</h2>

You are on world's largest data science community platform. Just practice using this dataset to level up your game.<br>
__Link for dataset:__ https://www.kaggle.com/btejas/indian-diabetes-dataset

In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
df=pd.read_csv("/home/tejas/SEM_7/LAB/DA/DA/2_pima/pimaindiansdiabetes.csv")

In [2]:
df.head()

,TimesPregnant,GlucoseConcentration,BloodPrs,SkinThickness,Serum,BMI,DiabetesFunct,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.shape

(768, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
TimesPregnant           768 non-null int64
GlucoseConcentration    768 non-null int64
BloodPrs                768 non-null int64
SkinThickness           768 non-null int64
Serum                   768 non-null int64
BMI                     768 non-null float64
DiabetesFunct           768 non-null float64
Age                     768 non-null int64
Class                   768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
df.describe()

,TimesPregnant,GlucoseConcentration,BloodPrs,SkinThickness,Serum,BMI,DiabetesFunct,Age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
train=np.array(df.iloc[0:600])
test=np.array(df.iloc[600:768])
train.shape

(600, 9)

In [7]:
test.shape

(168, 9)

In [8]:
model=GaussianNB()
model.fit(train[:,0:8],train[:,8])

GaussianNB(priors=None, var_smoothing=1e-09)

In [9]:
mean_diabetic=np.mean(train[:,8])
mean_notDiabetic= 1-mean_diabetic

sd=np.std(train[:8])

print("diabetic Probability={:03.4f}%".format(100*mean_diabetic))
print("Non Diabetic Probability={:03.3f}%".format(100*mean_notDiabetic))
print("standard Deviation={:03.2f}%".format(sd))

diabetic Probability=34.6667%
Non Diabetic Probability=65.333%
standard Deviation=43.13%

In [10]:
predicted=model.predict(test[:,0:8])
print(test[:,8])

[0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1.
 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0.
 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1.
 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 1.
 0. 0. 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0.]

In [11]:
print("\n",predicted)

 [0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1.
 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0.
 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0.]

In [14]:
'''count=0  #original code
for l in range(168):
    if(predicted[l]==test[i:8]):
        count=count+1 

count=0
for i in range(168):
    if(i.any() or i.all()):
        count=count+1
'''


count=0
for p,t in zip(predicted,test[:,8]):

    if p==t:

        count+=1

In [15]:
print("Number of samples matched correctly",count)

Number of samples matched correctly 128

In [22]:
accuracy=count/168
print("accuracy={:03.2f}%".format(100*accuracy))

accuracy=76.19%

__Visit <i><a href="https://www.github.com/tejas-2232">Github </a></i> to explore more exciting content__ 
<br>
__Connect on <i><a href=""> LinkedIn</a> </i>for prefessional dialogue__